{{#d-modal-body
  title="d-chronos.create.modal_title"
  class="d-chronos-create-modal"
  style="overflow: auto"}}

  <div class="form">
    <div class="control-group">
      <label>{{i18n "d-chronos.create.form.date"}}</label>
      <div class="controls">
        {{date-picker-future value=config.date defaultDate=config.date}}
      </div>
    </div>

    <div class="control-group">
      <label>{{i18n "d-chronos.create.form.time"}}</label>
      <div class="controls">
        {{input type="time" value=config.time}}
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <label>
          {{i18n "d-chronos.create.form.countdown"}}
          {{input type="checkbox" checked=config.countdown}}
        </label>
      </div>
    </div>

    <div class="control-group">
      <label>
        {{i18n "d-chronos.create.form.format"}}
        (<a target="_blank" rel="noopener" href="https://momentjs.com/docs/#/parsing/string-format/">?</a>)
      </label>
      <div class="controls">
        {{text-field value=config.format}}
      </div>
      <a href {{action "fillFormat" "YY-MM-DD hh:mm"}}>Default</a>
      <a href {{action "fillFormat" "MMM Do YY h:mm"}}>Short</a>
      <a href {{action "fillFormat" "MMMM Do YYYY, h:mm:ss a"}}>Long</a>
    </div>
  </div>
  <div class="preview">
    <p>
      <b>{{i18n "d-chronos.create.form.user_zone"}}</b> ({{currentUserTimezone}})<br />
      <span data-countdown="" class="d-chronos" data-datetime="" data-format=""></span>
    </p>
    <p>
      Europe/Paris<br />
      <span data-countdown="" data-timezone="Europe/Paris" class="d-chronos" data-datetime="" data-format=""></span>
    </p>
    <p>
      Pacific Time (US & Canada)<br />
      <span data-countdown="" data-timezone="America/Los_Angeles" class="d-chronos" data-datetime="" data-format=""></span>
    </p>
    <p>
      Eastern Time (US & Canada)<br />
      <span data-countdown="" data-timezone="America/New_York" class="d-chronos" data-datetime="" data-format=""></span>
    </p>
    <p>
      Asia/Shanghai<br />
      <span data-countdown="" data-timezone="Asia/Shanghai" class="d-chronos" data-datetime="" data-format=""></span>
    </p>
  </div>
{{/d-modal-body}}

<div class="modal-footer d-chronos-create-modal-footer">
  {{d-button class="btn"
    action="save"
    label="save"}}

  <a href {{action "cancel"}}>
    {{i18n 'cancel'}}
  </a>
</div>
